/* .External-Style {
    width: 300px;
    height: 150px;
    background-color: green;
} */

/* 
///////////////////
    CSS Selector
/////////////////// 
*/
/* h1 {
    width: 300px;
    height: 150px;
    background: #00ff3c;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* 
///////////////////
    Dev Tool
/////////////////// 
*/
/* .dev_tool{
    width: 500px;
    height: 250px;
    background-image: url(../imges/image.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
} */
/* 
///////////////////
    CSS Color
/////////////////// 
*/
/* .css_color{ */
/* width: 200px; */
/* height: 100px; */
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
/* border: 5px solid rgb(33, 40, 255); */

/* 1.Color Name */
/* background-color: blueviolet; */
/* 2.Color HEX */
/* background-color: #17b7e3; */
/* 3.Color rgb */
/* background-color: rgb(246, 103, 26); */
/* 3.Color rgba */
/* background-color: rgba(246, 103, 26, 0.3); */
/* } */
/* 
///////////////////
    CSS Font
/////////////////// 
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.font_h{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff);
}
.font_face, h4{
    font-family: Roboto;
    color: blue;
    font-weight: 900;
}